<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta charset="UTF-8">
    <meta name="description" content="Videograph Template">
    <meta name="keywords" content="Videograph, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>EMDR Meeting App - Home</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/css/stylez.css" type="text/css">
  </head>
  <style>
  html, body {

      overflow-x: hidden;
  }
  </style>
  <header class="header">
      <div class="container">
          <div class="row">
              <div class="col-lg-2">
                  <div class="header__logo">
                      <a href="/"><img src="/images/logo.png" alt=""></a>
                  </div>
              </div>
              <div class="col-lg-10">
                  <div class="header__nav__option">
                      <nav class="header__nav__menu mobile-menu">
                          <ul>
                              <li><a href="/ticketlogin">IT Support</a></li>

                          </ul>
                      </nav>

                  </div>
              </div>
          </div>
          <div id="mobile-menu-wrap"></div>
      </div>
  </header>
  <body>
    <div id="preloder">
        <div class="loader"></div>
    </div>
    <div class="breadcrumb-option spad set-bg" data-setbg="/images/hero/team-bg.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>EMDR Meeting App - Password Reset</h2>
                        <div class="breadcrumb__links">
                            <a href="/">Main Menu</a>
                            <span>Password Reset</span>

                        </div>
                      
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="team spad set-bg" style="background-color:#100028 !important;">
      <div style="display: block; margin-left: auto; margin-right: auto;" class="col-lg-6 col-md-6">
                <div class="contact__form">
                    <h3 style="text-align: center;">If you would like to get invoice then fill out the form to receive your invoice!</h3>

                    <form action="/users/reset_password" method="post">
                        <input id="user_email" name="emailuserreset" type="email" placeholder="Confirm your email" required>
                        <button class="primary-btn" style="background-color:#100028 !important; border-style: none !important; display: block; margin-left: auto; margin-right: auto;" type="submit">Request</button>
                    </form>
                </div>
            </div>
    </section>

    <footer class="footer">

            <div class="footer__copyright">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        <p class="footer__copyright__text">Copyright &copy;
                            <script>
                                document.write(new Date().getFullYear());
                            </script>
                            All rights reserved | emdrmeeting@2021 by <a href="https://apps.emdrmeeting.com" target="_blank">apps.emdrmeeting.com</a>
                        </p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </div>
                </div>
            </div>

    </footer>
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.magnific-popup.min.js"></script>
    <script src="/js/mixitup.min.js"></script>
    <script src="/js/masonry.pkgd.min.js"></script>
    <script src="/js/jquery.slicknav.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/mains.js"></script>
  </body>
</html>
